__pycache__
backend/__pycache__
backend/ai_summary
backend/backups
backend/code/__pycache__
backend/code/test.py
backend/generated_code
backend/logs
backend/model
backend/results
backend/uploads
backend/workflow_info
ds_env
Setup_files_claude
.env 
py_test.py
Readme.md
requirement.txt
try.py