__pycache__
backend/__pycache__
backend/ai_summary
backend/backups
backend/generated_code
backend/logs
backend/model
backend/results
backend/src/__pycache__
backend/src/test.py
backend/thread_src/__pycache__
backend/uploads
backend/workflow_info
backend/session_data
backend/test.py
backend/session_data/sessions_backup.json
backend/session_data/sessions.xlsx
.env
myenv
Future_Enhancements.md